body {
  background-color: rgb(218, 139, 36);
  background-image: url(carrom1.jpeg);
}
body:hover {
  background-color: rgb(219, 91, 74);
  background-image: none;
}
#myCanvas {
  /* background-color: #c5540b; */
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 5px solid rgb(14, 64, 228);
  background-color: rgb(252, 215, 113);
  background-image: url(carrom.jpeg);
  background-repeat: round;
}
#myCanvas:hover {
  cursor: pointer;
  background-image: none;
  background-color: rgb(252, 185, 97);
}
h2 {
  text-align: center;
  margin-top: 100px;
  color: rgb(248, 240, 240);
  font-size: 4rem;
}
h2:hover {
  color: rgb(14, 13, 12);
}
